@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Saira:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

@theme {
  --color-very-dark: #00000a;
  --color-semi-opaque-blue: #143296cc;
  --color-semi-opaque-very-dark-blue: #00003280;
  --color-ui-background: #060010;
  --color-text: #7a7a7a;
  --color-radius: 0.5rem;
}

body {
  background-color: #060010;
  font-size: 16px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-style: italic;
}

* {
  transition: all 0.3s ease;
}

@layer components {
  button {
    @apply cursor-pointer;
  }

  .get-started-button {
    @apply relative inline-block place-items-center;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
  .font-header-style {
    font-family: "JetBrains Mono", monospace;
  }
}

.get-started-button::before {
  content: "";
  border-radius: inherit;
  position: absolute;
  background-color: red;
  scale: 1.5;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.get-started-button:hover::before {
  /* animation: pulse 1s infinite; */
  opacity: 0.3;
  scale: 0;
}

.orb-container {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 9999999999999999;
}

.circle {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  filter: blur(2px);
  will-change: transform;
  background: white;
}

.hero-text {
  display: flex;
  text-align: center;
  font-size: clamp(2rem, 17vw, 20rem);
  font-weight: 800;
  letter-spacing: -0.04em;
  line-height: 0.9;
  color: white;
  z-index: 10;
  user-select: none;
  position: absolute;
  top: 30%;
  left: 5%;
}

.hero-text span {
  display: inline-block;
}

/*  */

.arrow-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  position: relative;
  width: 30px;
  height: 30px;
  border-top: 10px solid white;
  border-left: 10px solid white;
  transform: rotate(135deg);
  animation: arrow-load 2s infinite;
}
.arrow {
  animation: arrow-load 1s infinite;
  animation-fill-mode: forwards;
}

.arrow:nth-child(1) {
  animation-delay: 0s;
}
.arrow:nth-child(2) {
  animation-delay: 0.2s;
}
.arrow:nth-child(3) {
  animation-delay: 0.4s;
}
.arrow:nth-child(4) {
  animation-delay: 0.6s;
}
.arrow:nth-child(5) {
  animation-delay: 0.8s;
}
.arrow:nth-child(6) {
  animation-delay: 1s;
}

@keyframes arrow-load {
  0% {
    opacity: 0;
    transform: rotate(135deg) translate(20px, 20px);
  }
  5% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(135deg) translate(-25px, -25px);
  }
}

@keyframes move-bg {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -200% center;
  }
}
